  <header>

    <div class="container">
      <%= link_to image_tag("gdi-logo.png"), root_path, class:"logo" %>
      <nav class="navigation">
        <ul>
          <li><%= link_to "home", root_path %></li>
          <li><%= link_to "about", about_path %></li>
          <li><%= link_to "chapters", locations_path %></li>
          <li><%#= link_to "donate", donate_path %></li>
          <li><%#=link_to "resources", resources_path %></li>
        </ul>
        <ul>
          <li><a href="https://twitter.com/girldevelopit"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/girldevelopit"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </nav>

    <div>
  </header>
