  <header>
    <div id="container">
      <%= image_tag("gdi-logo.png") %>
      <nav class="navigation">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <%= link_to "chapters", locations_path %>
        <%= link_to "about", about_path %>
        <%= link_to "home", root_path %>
        <%#=link_to "resources", resources_path %>
        <%#= link_to "donate", donate_path %>
      </nav>
    <div>
  </header>
