  <header>
      <!-- <h1><span class="tagline1">Don't be Shy</span><span class="tagline2">Develop It</span></h1>
      <%= image_tag("gdi_logo_badge.png") %>
      <nav class="top">
        <%= link_to "home", root_path %>
        <%= link_to "about", about_path %>
        <%= link_to "chapters", locations_path %>
        <%#=link_to "resources", resources_path %>
        <%#= link_to "donate", donate_path %>
      </nav> -->
    </header>
