<div class="underlined-headline">
	<h2>Lead In Your Community</h2>
	<hr>
</div>
<p>We are currently looking for Chapter Leaders in the following cities:
	<ul>
		<li>Burlington, Vermont</li>
		<li>Grand Rapids, Michigan</li>
		<li>Houston, Texas</li>
		<li>Las Vegas, Nevada</li>
		<li>Nashville, Tennessee</li>
		<li>New Orleans, Louisiana</li>
		<li>Oakland, California</li>
		<li>Orange County, California</li>
		<li>Portland, Oregon</li>
		<li>San Antonio, Texas</li>
		<li>Washington DC</li>
	</ul>
</p>
<p>

	If interested, please apply by completing our <a href="https://docs.google.com/a/girldevelopit.com/forms/d/e/1FAIpQLSekQYRAKq26ONeQ77a0LYQbk8znbYFN_0c2ZUj4jcwL6dOwTA/viewform" target="_blank"> New Chapter Leader Interest Form</a>!
</p>
