<% #Add the 'display-open' h3 class to display as opened on load %>
<h3 class="display-open"><span class="chevron-closed">&nbsp;</span>Chapter Leader</h3>
<div>
	<h5>About Girl Develop It</h5>
	<p>
		Girl Develop It is a 501(c)3 nonprofit organization that provides affordable and judgment-free opportunities for adult women interested in learning web and software development. Through in-person classes and community support, Girl Develop It helps women of diverse backgrounds achieve their technology goals and build confidence in their careers and their everyday lives.
	</p>
	<h5>About this Role</h5>
	<p>
		As a <strong>Girl Develop It Chapter Leader</strong>, you'll empower women while growing your professional network and improving your business and leadership skills. Becoming a Chapter Leader is a unique opportunity that puts you in a position to further the professional development of not only hundreds and potentially thousands of women, but yourself as well. Some of the many benefits of joining Girl Develop It as a Chapter Leader include:
	</p>
	<p class="sub-paragraph">
		<span class="sub-header">Network Access:</span><br/>
		Join a strong community of dedicated leaders who come from diverse professional backgrounds. Gain access to information about opportunities to participate in conferences, organizations, and companies that focus on women and/or technology development. 
	</p>
	<p class="sub-paragraph">
		<span class="sub-header">Leadership Development:</span><br/>
		You'll have the opportunity to attend GDI's annual national leadership summit, where you can connect with other local leaders, and the national GDI leadership team. Additionally, you will have continuous access to resources that can further your growth as a leader and technologist. You’ll also receive direct support and professional development from the GDI Program Director and Headquarters team. 
	</p>
	<p class="sub-paragraph">
		<span class="sub-header">Business Experience:</span><br/>
		You and your leadership team will be responsible for the chapter's class and event operations, marketing, and budget. You'll lead your local team as your chapter grows and evolves. The skills you'll gain from working with GDI are invaluable and transferable to any job, company, or organization.
	</p>
	<h5>What makes a successful Chapter Leader?</h5>
	<p>
		A passionate and driven Chapter Leader (CL) is the key to a thriving Girl Develop It chapter. Chapter Leaders should be thoughtful teammates, driven managers, and courageous leaders. Chapter Leaders should be committed to the Girl Develop It mission and willing to go above and beyond to see that it is consistently pursued. Chapter Leaders are responsible for leading the day-to-day operations and growth of their local Girl Develop It chapter, in coordination with the organization’s HQ leadership. Each chapter runs accessible and affordable in-person courses, study groups, professional development workshops, networking events, and more. 
	</p>
	<p>
		This role is directly supported by the Program Director, with supplemental support from the entire Girl Develop It HQ staff. Chapter Leaders are fortunate to be a part of a community of over 200 fellow leaders who are always willing to help and provide advice on the professional and personal, including managing a successful GDI chapter.
	</p>
	<h5>Responsibilities</h5>
	<p>
	<ul>
		<li>Commitment to Girl Develop It's mission and core values</li>
		<li>Schedule and organize monthly in-person classes and events</li>
		<li>Recruit co-leaders and grow local leadership team to run the chapter sustainably in coordination with HQ leadership</li>
		<li>Recruit qualified local instructors and teaching assistants</li>
		<li>Communicate regularly with Girl Develop It headquarters</li>
		<li>Cultivate local partnership development efforts on behalf of the chapter</li>
	</ul>
	</p>

	<h5>Requirements</h5>
	<p>
	<ul>
		<li>Friendly customer service and communication skills (both verbal and written)</li>
		<li>Understanding of the challenges of cultivating and supporting diverse audiences</li>
		<li>Personal qualities of integrity, flexibility, and accountability</li>
		<li>Ability to effectively manage and prioritize tasks</li>
	</ul>
	</p>

	<h5>Optional Experience We’d Love to Hear About</h5>
	<p>
	<ul>
		<li>Experience in a technical field (particularly web and software development-related)</li>
		<li>Proficiency in Google Apps (including Gmail, Drive, and Apps for Business)</li>
		<li>Experience in event planning and/or community management, group facilitation</li>
	</ul>
	</p>
	<h5>Hours and Compensation</h5>
	<p>
	<ul>
		<li>Chapter Leaders should be able to commit approximately 20-30 hours per month</li>
		<li>Chapter Leaders receive organizer payment for each class they organize</li>
	</ul>
	</p>
</div>
