<div class="underlined-headline">
	<h2>Lead In Your Community</h2>
	<hr>
</div>
<p>We are currently looking for Chapter Leaders in the following cities:
	<ul>
		<li>Grand Rapids, Michigan</li>
		<li>Houston, Texas</li>
		<li>Las Vegas, Nevada</li>
		<li>Nashville, Tennessee</li>
		<li>New Orleans, Louisiana</li>
		<li>Oakland, California</li>
		<li>Orange County, California</li>
		<li>Portland, Oregon</li>
		<li>San Antonio, Texas</li>
		<li>Washington DC</li>
	</ul>
</p>
<p>
	If interested, please email a resume and brief cover letter to <a href="mailto:inquiries@girldevelopit.com" target="_blank">inquiries@girldevelopit.com</a> with subject GDI Chapter Leader Role-[City].
</p>