<% #Add the 'display-open' h3 class to display as opened on load %>
<h3><span class="chevron-closed">&nbsp;</span>Operations Lead</h3>
<div>
	<h5>Location</h5>
	<p>Philadelphia, PA or remote</p>
	<h5>About Girl Develop It</h5>
	<p>
		Girl Develop It is a 501(c)3 nonprofit organization that provides affordable and judgment-free opportunities for adult women interested in learning web and software development. Through in-person classes and community support, Girl Develop It helps women of diverse backgrounds achieve their technology goals and build confidence in their careers and their everyday lives.
	</p>
	<p>
		Girl Develop It is seeking a highly organized, experienced Operations Lead to design and execute strategy for the organization’s central operations, supporting 50+ chapters across the U.S.</p>
	<p>
	<h5>About this Role</h5>
	<p>
		The Operations Lead will be responsible for improving the overall operational infrastructure of Girl Develop It and providing crucial organizational support to our 52 chapters, 150+ chapter leaders and 60,000 students through collaboration with the Executive Director. Each month, GDI’s operational team manages payroll for 100+ instructors and organizers, and supports between 50-100 classes and events (involving 1,000+ transactions) serving women across the U.S. developing their technology skills. By the end of 2016, we expect to launch 10-15 additional chapters, evaluate the opportunity for international expansion and increase our membership to 100,000-120,000.
	</p>
	<p>
		The ideal candidate will have advanced experience streamlining and automating processes for a rapid-growth organization, and will be excited to jump in and help grow the organization’s capacity to scale sustainably.
	</p>
	<h5>Duties &amp; Responsibilities</h5>
	<p>
	<ul>
		<li>Lead day-to-day operational aspects of a mission-driven non-profit</li>
		<li>Drive organization-wide initiatives that contribute to long-term operational excellence in support of the mission of Girl Develop It</li>
		<li>Analyze and map current processes</li>
		<li>Provide and implement recommendations for streamlined growth</li>
		<li>Lead planning process for the organization's annual budget</li>
		<li>Administer HR functions, payroll, government compliance, taxes, etc. for Girl Develop It’s 2-5+ full-time staff, 150+ contractors and 40+ charitable state registrations</li>
		<li>Manage and facilitate transparency of organization budget and cashflow</li>
	</ul>
	</p>

	<h5>Requirements</h5>
	<p>
	<ul>
		<li>Commitment to the mission of Girl Develop It</li>
		<li>Demonstrated experience leading operations</li>
		<li>Experience developing and overseeing organizational budgets</li>
		<li>Excellent computer skills and comfort with new technologies</li>
		<li>Proficiency in Google Apps (including Gmail, Drive, and Apps for Business)</li>
		<li>Comfort with Quickbooks (or equivalent double-entry accounting system)</li>
		<li>Excellent verbal and written communication skills</li>
		<li>Experience working as part of a distributed team (Optional if located in Philadelphia, PA)</li>
	</ul>
	</p>

	<h5>Recommended Skills and Experience</h5>
	<p>
	<ul>
		<li>Dedication to efficiency, both of individual habits and organizational systems and policies</li>
		<li>Attention to detail</li>
		<li>Strong problem-solving and analytical skills</li>
		<li>Flexibility, initiative and desire for a high level of personal ownership and accountability</li>
		<li>Personal qualities of integrity, credibility, maturity, and confidence</li>
	</ul>
	</p>
	<h5>Optional Experience We’d Love to Hear About</h5>
	<p>
	<ul>
		<li>501c3 non-profit experience (e.g. knowledge of tax and other compliance implications)</li>
		<li>International non-profit or NGO knowledge and/or experience</li>
		<li>Knowledge of computer science, technology, and/or education sector</li>
	</ul>
	</p>

	<p>To apply, please send a brief cover letter along with your résumé and 1-2 references to <a href="mailto:jobs@girldevelopit.com" target="_blank">jobs@girldevelopit.com</a>.</p>
</div>
