<% provide(:title, "Code of Conduct") %>
<section class="main-container">


  <div class="container">

    <section class="code">
        <div class="underlined-headline">
          <h2>Code of Conduct</h2>
          <hr>
        </div>
        <h3>Purpose</h3>
        <p>Girl Develop It is dedicated to providing a harassment-free community and learning experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We expect all attendees to show respect and courtesy to other attendees throughout Girl Develop It classes and events. Sexual language and imagery is not appropriate for any Girl Develop It event. Girl Develop It participants violating these rules may be sanctioned or expelled from our events or online discussion boards without a refund at the discretion of the event organizers.</p><br>
        <h3>Harassment</h3>
        <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion; sexual images in public spaces; deliberate intimidation; stalking; following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact; and unwelcome sexual attention. Adults who identify as men are welcome at our events, and it is expected that all participants be treated with equal respect. We do not tolerate harassment of Girl Develop It participants in any form. All communication should be appropriate for a professional audience. Participants asked to stop any harassing behavior are expected to comply immediately.</p><br>
        <h3>Privacy Concerns</h3>
        <p>Your privacy is important to us. While photographs may be taken in class and can be shared by group members in the group’s meetup page, no photograph shall be used for promotional purposes without verbal and/or written consent of the attendees. If a group photograph is taken, your participation will serve as your agreement to the use of such a photograph for Girl Develop It promotional purposes. If you are uncomfortable having your photograph shared, please let us know.</p><br>
        <h3>Use of Sexualized Imagery</h3>
        <p>Teachers, event organizers, volunteers, and hosts are also subject to the anti-harassment policy. In particular, teachers/hosts/organizers should not use sexualized images, activities, or other material. GDI organizers, teachers, teachers assistants, and event hosts (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p><br>
        <h3>Consequences Of Unacceptable Behavior</h3>
        <p>If a participant engages in harassing behavior, the Girl Develop It organizers may take any action they deem appropriate, including warning the offender or expelling him or her from the class/event/meetup group [with no refund]. </p><br>
        <h3>What To Do If You Witness Or Are Subject To Unacceptable Behavior</h3>
        <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact your local Chapter Leader(s) immediately. Contact information for your local Chapter Leader can be found on <%= link_to "our Chapters page", chapters_path %>.</p>
        <p>Girl Develop It Chapter Leaders/Teachers/Event Organizers will be happy to help members contact local law enforcement, provide escorts when possible and with reasonable notice, or otherwise assist those experiencing harassment to feel safe for the duration of the event/class. We value your attendance.</p>
        <p>Girl Develop It expects participants to follow these rules at all Girl Develop It social events and in online discourse.</p><br>
        <h3>Contact Information</h3>
        <p>If you have any questions, please contact your local chapter. Contact information for your local Chapter Leader can be found on <%= link_to "our Chapters page", chapters_path %>.</p>
    </section>





  </div>
</section>
