<% provide(:title, "Code of Conduct") %>
<section class="main-container">


  <div class="container">
     <section class="code conduct">
                    <div class="underlined-headline">
                          <h2>Code of Conduct</h2>
                          <hr>
                    </div>
                    <h3>Purpose</h3>
                    
                    <p>Girl Develop It (GDI) creates welcoming, supportive opportunities for women and non-binary adults to learn software development skills. Through classes, projects, and events, GDI students develop code, confidence, and community.</p><br />

                    <p>GDI is dedicated to providing a harassment-free community and learning experience for everyone: people of all genders, gender identities and expressions, sexual orientations, disabilities, mental illness, neurotype, physical appearance, body size, age, race, ethnicity, nationality, language, immigration status, or religion. We do not tolerate harassment in any form.</p><br />

                    <p>GDI is committed to a zero-tolerance policy toward discrimination and all forms of harassment. This means that no form of discriminatory or harassing conduct by or towards any member of the GDI community—our community includes, but is not limited to: students, attendees, volunteers, all contractors (including chapter leaders, instructors, and consultants), all partners and affiliates (including speakers, sponsors, vendors, and venue hosts), board members, and staff. Everyone participating in the GDI community—whether in-person or online, including, but not limited to all Meetup groups and Slack channels—is expected to show respect and courtesy to all and is required to agree to the following Code of Conduct.</p><br />
                    
                    <p>GDI will enforce a zero-tolerance policy at all levels within the organization. Any person who engages in discrimination or harassment will be subject to discipline, up to and including immediate discharge from employment; removal from leadership; or expulsion from community and disengagement. Partners and affiliates that are found to be in violation of our zero-tolerance policy will be considered in breach of contract and will be jeopardizing partnership agreements. GDI participants violating these rules may face consequences up to, and including, being expelled from our communities, events, and/or online spaces without a refund, if applicable.</p><br /><br />
                    
                    <h3>Harassment</h3>
                    
                    <p>Prohibited harassment includes (but is not limited to) unwelcome sexual advances, requests for sexual favors and lewd, vulgar or obscene remarks, jokes, posters or cartoons, and any unwelcome touching, pinching or other physical contact. Other forms of unlawful harassment or discrimination may include racial epithets, slurs and derogatory remarks, stereotypes, jokes, posters or cartoons based on race, national origin, age, disability, marital status or other legally protected categories. Prohibited harassment might also be transmitted using GDI’s online platforms including Slack and Meetup.</p><br />
                    
                    <p>Harassment includes the following categories of behavior, whether the behavior occurs once or many times: </p><br />
                    
                    
                    <ul>
                    
                        <li><h4>Discriminatory behavior</h4>Discrimination refers to treating people differently, negatively, or adversely because of one or more of the following prohibited grounds of discrimination: race, color, ancestry, place of origin, political belief, religion, age, gender, sexual orientation, marital status, family status, physical or mental disability.</li>

                        <li><h4>Personal harassment</h4> Personal harassment includes objectionable conduct, comment, or display made on either a one-time or continuous basis that demeans, belittles, or causes personal humiliation or embarrassment on the part of the recipient. It may or may not be linked to discriminatory behavior.</li>

                        <li><h4>Sexual harassment</h4> Sexual harassment refers to any conduct, comment, gesture, or contact of a sexual nature, whether on a one-time basis or a series of incidents, that might reasonably be expected to cause offense or humiliation or that might reasonably be perceived as placing a condition of a sexual nature on employment, an opportunity for training or promotion, receipt of services, or a contract. Examples of behavior that can constitute sexual harassment include, but are not limited to: unwanted touching, patting or leering, inquiries or comments about a person’s sex life, telephone calls with sexual overtones, gender-based insults or jokes causing embarrassment or humiliation, repeated unwanted social or sexual invitations, inappropriate or unwelcome focus/comments on a person’s physical attributes or appearance.</li>

                        <li><h4>Bullying</h4> Bullying consists of behavior to attack and diminish another by subjecting the recipient to unjustified criticism and trivial fault-finding, humiliating the recipient (especially in front of others), and/or ignoring, overruling, isolating and excluding the recipient.</li>

                        <li><h4>Abuse of authority</h4> Abuse of authority refers to an individual improperly using their power and authority to intimidate, threaten, blackmail, or coerce another member of the community.</li>

                        <li><h4>Poisoned environment</h4> A poisoned environment is characterized by an activity or behavior, not necessarily directed at anyone in particular, that creates a hostile or offensive space. Examples of a poisoned environment include but are not limited to: graffiti, sexual, racial or religious insults or jokes, abusive treatment of an employee, and the display of pornographic or other offensive material.</li>
                    
                    </ul>
                    
                    <div class="container harassment">
                        <h3>Harassment and unwelcome behavior may include:</h3><br />
                        <ul>
                            <li><span>Offensive comments:</span> Related to gender, gender identity and expression, sexual orientation, disability, mental illness, neurotype, physical appearance, body, age, race, ethnicity, nationality, language, or religion.</li>
                            
                            <li><span>Unwelcome comments:</span> Regarding a person’s lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment.</li>
                            
                            
                            <li><span>Deliberate misgendering</span> or use of ‘dead’ or rejected names</li>
                            
                            <li><span>Displaying sexual images</span> or behavior</li>
                            
                            <li><span>Physical contact</span>, including touching hair, simulated physical contact, or written descriptions like “hug” or “backrub” without consent or after a request to stop</li>
                            
                            <li><span>A pattern of inappropriate social contact</span>, such as requesting/assuming inappropriate levels of intimacy with others</li>
                            
                            <li><span>Threats</span> of violence</li>
                            
                            <li><span>Incitement of violence</span> towards any individual, including encouraging a person to commit suicide or to engage in self-harm</li>
                            
                            <li><span>Deliberate</span> intimidation</li>
                            
                            <li><span>Stalking</span> or following</li>
                            
                            <li><span>Harassing photography</span> or recording, including logging online activity for harassment purposes</li>
                            
                            <li><span>Sustained disruption</span> of discussion</li>
                            
                            <li><span>Unwelcome sexual attention</span></li>
                            
                            <li><span>Continued one-on-one communication</span> after requests to cease</li>

                        </ul>
                    </div><br />
                    
                     <h3>Procedures in Cases of Harassment </h3>
                    
                    <p>Any persons associated with GDI who believes that they have been subjected to discrimination or unlawful harassment of any kind has the responsibility to report the harassment to a chapter lead, employee of HQ or the board. GDI is committed to taking all reasonable steps to prevent discrimination and harassment and will make every reasonable effort promptly and completely to address and correct any incidents that may occur. Every incident reported will be investigated promptly and impartially, with every effort to maintain confidentiality. The complainant and the accused will be informed of the results of the investigation. If GDI finds that its policy has been violated, it will take appropriate corrective and remedial action, up to and including discharge of offending employees, and/or similarly appropriate action towards offending vendors, contractors, or members.</p><br /><br />
                    
                    <h3>Reporting</h3>
                    
                    <p>If someone makes you or anyone else feel unsafe or unwelcome, please report it as soon as possible to a member of the GDI Leadership Team. Harassment and other Code of Conduct violations reduce the value of our events and working environment for everyone. We want you to be happy interacting with GDI. People like you make our event a better place. You can make a report either personally or anonymously.</p><br />
                    
                    <div class="container harassment alt">
                        <h3> You can make a report by:</h3><br />
                        <ul>
                           
                            <li><a href="https://forms.gle/knda6RT5WrMyRPmJ9" target="_blank">Filling out this form.</a><br /><br />
                                <ol><li><span>Reports can be made anonymously.</span> Although we can't follow up an anonymous report with you directly, we will fully investigate it and take whatever action is necessary to prevent a recurrence.</li></ol>
                            </li>
                            <li>Calling this hotline: <span>(888) 959-7106</span></li>
                            <li>Contacting a GDI volunteer or leadership team member — chapter leaders can be found on our <a href="https://www.girldevelopit.com/chapters" target="_blank">Chapters page of the website.</a></li>
                        </ul>
                    </div><br /><br />
                    
                    <h3>Reporting Senior Leadership of the HQ Team</h3>
                    
                    <p>If you feel a member of the senior leadership team of GDI has violated our zero-tolerance policy, you can reach out directly to our Board of Directors <a href="https://forms.gle/FnqgHrCLTbc4cWhK6" target="_blank">via this form to make a report.</a></p><br /><br />
                    
                    <div class="container harassment">
                        <h3>Reporting Without Fear of Retaliation: </h3>
                        
                        <p><span>No persons will be retaliated against for reporting harassment.</span> This no-retaliation policy applies whether a good faith complaint of harassment is well-founded or ultimately determined to be unfounded. No GDI employee, board director or chapter leader is authorized, or permitted, to retaliate or to take any adverse action whatsoever against anyone for reporting unlawful harassment, or for opposing any other discriminatory practice.</p>
                        
                    </div>

                    <h3><span>All reports will be handled in the strictest confidence. We will respond within 72 hours.</span></h3>
                </section>
    



  </div>
</section>
