<% provide(:title, "Donate") %>
<section class="main-container">

  <div class="container">
    <section class="mission">
      <div class="underlined-headline">
        <h2>Help Us Change the World</h2>
        <hr>
      </div>
      <p class="large">
        Girl Develop It is the leading nonprofit organization providing accessible learning programs for adult women. Our reach, membership and impact are unparalleled.
      </p>
    </section>
  </div>

  <section class="support">
    <div class="container">
      <div class="underlined-headline">
        <h2>Donate</h2>
        <hr>
      </div>
      <p class="large">
        If you want to support women in technology and women transitioning into tech careers today, you can help us improve the technology industry's diversity problem now.

        We appreciate all contributions from individuals and companies of any amount, and we put them to good use to grow the amount of and impact on our students. All donations are 501c3 tax-deductible.

        By supporting Girl Develop It, you are supporting the ideal that it’s never too late to learn. Girl Develop It engages students from age 18-70, and we firmly believe that there should be avenues for women of all ages to benefit from the opportunities and rewards provided by learning web development.
      </p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="FB3QVSP8K3GR8">
        <input type="submit" border="0" name="submit" value="Donate Now" class="button donate-button">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    </div>
  </section>

</section>
