
<section class="main-container">

  <div class="container">

    <section class="mission">
      <div class="underlined-headline">
        <h2>Help Us Change the World</h2>
        <hr>
      </div>
      <p class="large">Girl Develop It is a nonprofit organization that provides affordable programs for adult women interested in learning web and software development in a judgment-free environment. </p>
    </section>

  </div>
  
  <section class="support">
    <div class="container">
      <div class="underlined-headline">
        <h2>Donate</h2>
        <hr>
      </div>
      <p class="large">Aenean sit amet sem sodales, tempor velit ut, pulvinar turpis. Suspendisse urna tellus, varius eu est et, dignissim consectetur sem. Ut elementum lacus nec blandit vulputate. Sed nulla nibh, suscipit eget massa eget, tempor vehicula ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in dui ut purus aliquam sagittis. Aenean at risus dictum, luctus sem sed, tristique mauris. Cras felis est, ullamcorper quis facilisis at, congue eu ex. Pellentesque vulputate, nunc ut gravida luctus, turpis tellus venenatis neque, vel ultrices risus dolor at sem. Curabitur condimentum condimentum mi, interdum posuere lectus rhoncus non. Nullam nec facilisis dui. Sed rhoncus aliquam metus, quis efficitur lorem facilisis et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
    </div>
  </section>
</section>
