<% provide(:title, "Code of Conduct") %>
<section class="main-container">
	<div class="container">
    <section class="code">
        <div class="underlined-headline">
	          <h2>Frequently Asked Questions</h2>
	          <hr>
        </div>
        <div class="collapsible">
      
        <h3>I’m interested in taking a class I saw on the website, when will you offer it my area and where can I sign up?</h3>
		<div>
		<p>For information on classes and workshops, <a href="/chapters">please visit the Chapters page</a> to find the chapter in your area. Schedules and contact information are listed on the individual chapter page.</p>
		</div>

		<h3>How can I contact my local GDI chapter?</h3>
		<div>
		<p>To contact a GDI chapter’s leadership, <a href="/chapters">please visit the Chapters page</a> and select the chapter in your area. Contact information for each chapter can be found there (on the left-hand side beneath the state silhouette).</p>
		</div>

		<h3>There isn’t a Girl Develop It chapter in my area. How can I help bring GDI to my city?</h3>
		<div>
		<p>We review incoming requests for new GDI chapters on a case-by-case basis and will reach out if there is overwhelming interest in your town. Please take a few minutes to complete the <a href="https://docs.google.com/forms/d/18vn6QF64wg8i7euJXSA4HlYWO4AlL9i04o7057-ewuQ/viewform" target="_blank">New Chapter Interest Form</a> to assist us in determining the resources available and student interest in your area.</p>
		</div>

		<h3>Are Girl Develop It classes or workshops for women only?</h3>
		<div>
		<p>Girl Develop It’s mission is focused on providing opportunities for women to learn web and software development, but our classes and events are welcome to all. Please note that we are dedicated to providing a safe and comfortable environment for women to learn coding and every attendee is expected to uphold our values.<br/><a href="/code-of-conduct">Please read our Code of Conduct.</a></p>
		</div>

		<h3>My school-age daughter is interested in learning more about coding. Does Girl Develop It offer classes for younger students?</h3>
		<div>
		<p>GDI classes and workshops are designed for and targeted at adult women, aged 18 and older.  There are many great organizations serving young girls as well as online resources. Here are a few:</p>
		<p>Online learning resources:
		<ul>
		<li><a href="" tareget="_blank">Code.org</a></li>
		<li><a href="" tareget="_blank">Codecademy</a></li>
		<li><a href="" tareget="_blank">CodeSchool</a></li>
		<li><a href="" tareget="_blank">Bloc</a></li>
		<li><a href="" tareget="_blank">Treehouse</a></li>
		</ul>
		</p>
		<p>Organizations serving younger girls:
		<ul>
		<li><a href="" tareget="_blank">Black Girls Code</a></li>
		<li><a href="" tareget="_blank">TechGirlz</a></li>
		<li><a href="" tareget="_blank">Girls Who Code</a></li></p>
		</div>

		<h3>I love Girl Develop It’s mission! How can I support you?</h3>
		<div>
		<p>We appreciate all contributions from individuals and companies of any amount — and we put them to good use to grow to new cities to reach more students. To make a donation, visit our Donate page. All donations are 501c3 tax-deductible. Or if you want to support your local chapter through in-kind donation, please visit the Chapters page to link to the chapter in your area and reach out to your local chapter leader to find out about their local needs.</p>
		</div>

		<h3>I have no professional teaching experience. Can I still teach with GDI? Do teachers get paid?</h3>
		<div>
		<p>Yes and yes! While it is not necessary to have professional teaching experience, we do require that you be highly knowledgeable of the programming language for which you provide instruction and have proven skill set to effectively lead a course. Before teaching your own class, we require that you volunteer as a Teaching Assistant for two GDI classes. For more information, visit the Chapters page to find to the chapter in your area.</p>
		</div>

		<h3>Does Girl Develop It offer internships?</h3>
		<div>
		<p>GDI doesn’t currently offer internship opportunities, but there are many volunteer opportunities to get involved. Please reach out to your local chapter for more information on their current needs.</p>
		</div>

		<h3>Does Girl Develop It offer any course certifications?</h3>
		<div>
		<p>No, we do not.</p>
		</div>
	</section>
	</div>
</section>