<% provide(:title, "Get Involved") %>
<section class="main-container">
	<div class="container">
	    <section class="code get-involved">
	        <div class="underlined-headline">
	          <h2>Join Our Movement</h2>
	          <hr>
	        </div>
			<p class="large">Girl Develop It is excited to offer different opportunities to get involved and join our community. Take a look below to see what may be available in your area!</p>
			<div class="collapsible">
				<%= render partial: "chapter_leader" %>	
			</div>
			<div>
				<%= render partial: "chapter_leader_cities" %>
			</div>

		</section>
	</div>
</section>