<!DOCTYPE html>
<html>
<head>
  <title>Girl Develop It</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<h1>Home</h1>

		<section>
		<h2>Who are we?</h2>
			<p>mission statement Lorem ipsum dolor sit amet, sea id debet veritus, pri dicant dictas honestatis id. Per ei soluta essent, ea sea molestiae comprehensam. Sed cu regione voluptua, eu eum ignota invenire molestiae. </p>
	</section>

	<section>
		<h3>We are now in <%= @location.count %> cities!</h3>
		<h4>Don't see your city? Start a new chapter!</h4>
		<img class="map" src="#">
	</section>

</body>

