<% provide(:title, "Job Opportunities") %>
<section class="main-container">
	<div class="container">
		<section class="code jobs">
			<div class="underlined-headline">
				<h2>Join our team!</h2>
				<hr>
			</div>
			<p class="large">Currently there are no open positions.</p>
		</section>
	</div>
</section>
