<% provide(:title, "Job Opportunities") %>
<section class="main-container">
	<div class="container">
    <section class="code jobs">
        <div class="underlined-headline">
	          <h2>Join our team!</h2>
	          <hr>
        </div>
       <p class="large">We are looking for enthusiastic individuals to join our team. Check out our open positions below!</p>

<!--          <p class="large">We will be continuing to grow our team and posting more positions here in the coming months! Please check back and reach out to <a href="mailto:jobs@girldevelopit.com" target="_blank">jobs@girldevelopit.com</a> with any questions.</p> -->
			<h2>Available Positions</h2>
			<hr>
			<div class="collapsible">
				<%= render partial: "chapter_program_manager" %>		
			</div>

	</section>
	</div>
</section>
