<% provide(:title, "Job Opportunities") %>
<section class="main-container">
	<div class="container">
		<section class="code jobs">
			<div class="underlined-headline">
				<h2>Join our team!</h2>
				<hr>
			</div>
			<h3 class='large'>Operations Coordinator/Bookkeeper</h3>
			<h4 style='text-transform: none;' class="large">Location: Remote</h4><br>

			<h5>About Girl Develop It</h5>
			<p>Girl Develop It is a 501(c)3 nonprofit organization that provides affordable and judgment-free opportunities for adult women interested in learning web and software development. Through in-person classes and community support, Girl Develop It helps women of diverse backgrounds achieve their technology goals and build confidence in their careers and their everyday lives.</p>

			<h5>About this Role</h5>
			<p>Girl Develop It is seeking a highly organized, experienced full-time Operations Coordinator/Bookkeeper to provide administrative support to the organization’s central operations and to support the organization’s financial functions including budget development, income tax preparation, and charitable and business registration filings and renewals. The ideal candidate will have experience in financial management for a nonprofit with rapid growth and multiple revenue streams, demonstrated professionalism in communications, and strong organizational and time management skills with acute attention to detail. We envision an enthusiastic professional who exemplifies our values of integrity, community, and wants to be a part of a growing organization — with understanding that it’s necessary to be flexible to thrive in a fast-paced environment. Experience working remotely or on a distributed team is highly desired.</p>

			<p>This position will report directly to our Operations Director, and work very closely with other members of the leadership and chapter teams, providing crucial support to our 60+ chapters across the country.</p><br>

			<h4>Duties &amp; Responsibilities:</h4>

			<h5>Bookkeeping</h5>
				<ul>
					<li>Running AP/AR and managing vendors</li>
					<li>Processing, as well as tracking, all event payments, sponsorships, and scholarships</li>
					<li>Support preparation and distribution of monthly financial statements</li>
					<li>Maintaining bookkeeping best practices and efficient, transparent systems for collecting, managing, and distributing funds throughout the organization</li>
					<li>Supporting annual audit, tax preparation, and annual filings for charitable registrations</li>
					<li>Supporting organization and project budget development in coordination with senior management</li>
				</ul>

			<h5>Operational Support</h5>
				<ul>
					<li>Providing operational support to Chapter Leaders and HQ Team</li>
					<li>Coordinating logistics for annual events, galas and leadership summit</li>
					<li>Manage team travel logistics in adherence to procurement policy</li>
				</ul>

			<h5>Requirements</h5>
			<p>As a prerequisite, the successful candidate must believe in Girl Develop It's core values and be driven by the mission. Additionally, the following experiences and skills are required:</p>
				<ul>
					<li>Proven bookkeeping and operational support experience</li>
					<li>Experience using double-entry accounting systems (QuickBooks Online, Xero, etc.), Google Apps Suite, Salesforce, and Dropbox</li>
					<li>Strong analytical skills, with the ability to problem solve independently</li>
					<li>Excellent written and verbal communications skills</li>
					<li>Excellent time-management skills; the ability to multitask and prioritize work</li>
					<li>Comfort with learning new technologies</li>
					<li>Experience working with a diverse and distributed team</li>
					<li>Ability to travel/work away from home as needed at least once per quarter; to plan and attend trainings, leadership summit, and annual events</li>
				</ul>

			<h5>Optional Experience We’d Love to Hear About</h5>
				<ul>
					<li>501(c)3 non-profit experience (e.g. knowledge of tax and other compliance implications)</li>
					<li>International non-profit or NGO knowledge and/or experience</li>
					<li>Knowledge of computer science, technology, and/or education sector</li>
				</ul>

			<p>GDI offers a generous benefits package as well as scheduled performance-based salary increases on a six-month cycle for the first 24 months of employment, and on a two-year cycle thereafter.</p>

			<p>Salary: $40,000-$45,000/annually</p>

			<p>To apply, please send your résumé, a brief cover letter and 1-2 references to <a href='mailto:jobs@girldevelopit.com'>jobs@girldevelopit.com</a>.</p>
		</section>
	</div>
</section>
