<% provide(:title, "Job Opportunities") %>
<section class="main-container">
	<div class="container">
    <section class="code jobs">
        <div class="underlined-headline">
	          <h2>Join our team!</h2>
	          <hr>
        </div>
        <p class="large">We are looking for enthusiastic individuals to join our team. Check out our open positions below!</p>

        <div class="underlined-headline">
	        <h2>Available Positions</h2>
	        <hr>
	      </div>

        <div class="collapsible">
      
        <%= render partial: "operations_lead" %>

        <%= render partial: "program_manager" %>
		
		</div>

	</section>
	</div>
</section>