<% provide(:title, "Job Opportunities") %>
<section class="main-container">
	<div class="container">
		<section class="code jobs">
			<div class="underlined-headline">
				<h2>Join our team!</h2>
				<hr>
			</div>
			<h3 class='large'>Executive Director</h3>
			<h4 style='text-transform: none;' class="large">Location: Remote</h4><br>

			<h5>About Girl Develop It</h5>
			<p>Founded in 2010, Girl Develop It (GDI) is a nonprofit organization that creates welcoming, supportive opportunities for women and non-binary adults to learn software development skills. Through classes, projects, and events, GDI students develop code, confidence, and community. We envision a world where all people are included and empowered in developing the future of technology.</p>

			<h5>About this Role</h5>
			<p>Girl Develop It needs a transformative Executive Director to lead the organization into its next phase of growth and impact. The ideal candidate needs to understand the challenges and opportunities that adults face when learning about software and technology. The ideal candidate takes a data-driven approach to develop strategic plans while measuring the impact of plans implemented. In addition, the candidate is a capable leader who can align the board, HQ team, and community on GDI’s mission, vision, and impact.</p>

			<p>This position will report directly to the Board of Directors and work very closely with the leadership team, including the Operations Director and Programs Director. This is a full-time, remote role.</p><br>

			<h5>Duties &amp; Responsibilities:</h5>

				<ul>
					<li>Develop a new strategic plan to deliver on GDI’s mission and vision</li>
					<li>Establish a set of management practices that support program and chapter growth, HQ staff, and the broader community   </li>
					<li>Establish a platform for fundraising and pioneer new mission-aligned programs and partnerships </li>
					<li>Lead, coach, develop and retain GDI HQ’s senior management team.</li>
					<li>Begin to build partnerships in new markets, establishing relationships with funders,     community leaders, and key influencers in cities identified for expansion or revitalization.</li>
					<li>Be an external local and national presence as the spokesperson for GDI programs and impact on the organization’s constituents, the media, and the general public.</li>
					<li> Standardize and revitalize the technology education curriculum and educational philosophy.</li>
					<li>Oversee marketing and other communications efforts and develop a brand that closely aligns GDI’s public presence with its mission, vision, and impact. </li>
				</ul>

			<h5>Qualifications</h5>
				<ul>
				<li>Strong leadership skills</li>   
				<li>Ability to fundraise and develop strategic partnerships</li>
<li>Ability to develop and engage a high-performing Board of Directors</li>
<li>Entrepreneurial instincts that enable the organization to identify and pursue new mission-aligned opportunities</li>
<li>Knowledge of software and technology markets </li>        
<li>An understanding of the basics and challenges of adult learning</li>
<li>Ability to create strategic plans, decisively execute towards desired outcomes and use data as a tool to communicate and measure progress</li>
<li> Excellence in organizational management with the ability to coach staff, manage and develop high-performance teams, set and achieve strategic objectives, and manage a budget. </li>   
<li>Demonstrated commitment to diversity, inclusion, and equity</li>
<li>Previous success in establishing relationships with individuals and organizations of influence, including funders, partner agencies, and volunteers.</li>
<li>Solid organizational abilities, including planning, delegating, program development, and task facilitation.</li>

				</ul>

			<p>Desired Attributes</p>
			
				<ul>
					<li>A transformative and inspiring leader</li>
					<li>Ability to drive consensus among stakeholders</li>
					<li>Strong written communication skills</li>
					<li>Background in corporate social responsibility, economic empowerment, workforce development, or adult technology education </li>
					
				</ul>

			<h5>Education</h5>
				<ul>
					<li>Bachelors Degree</li>
					<li>Coding/Programming knowledge</li>
					
				</ul>

			<h5>Work Experience</h5>
				<ul>
					<li>8-15 years of work experience</li>
					<li>5 years of Management experience</li>
					
				</ul>

			<p>To apply or learn more, please visit our <%= link_to("LinkedIn page", "https://www.linkedin.com/jobs/view/1496965546/", target: "_blank") %>. </p>
			
			
			<div class="underlined-headline">
				<hr>
			</div>
			<h3 class='large'>Board of Directors Position Description</h3>
			<h4 style='text-transform: none;' class="large">Location: Remote</h4><br>

			<h5>About Girl Develop It</h5>
			<p>GDI is a 501c3 nonprofit organization that creates welcoming, supportive opportunities for women and non-binary adults to learn software development skills. We envision a world where all people are included and empowered in developing the future of technology.</p> 
                        <p>The board is evaluating new strategies to fulfill the mission and lay the groundwork for a strong and sustainable operation. We’re looking for new board members who want to be a part of this change.</p>

			<h5>About the Board of Directors</h5>
			<p>Members of the GDI Board of Directors are public advocates for the mission and vision of GDI and play both a hands-on support role and strategic advisory role to the staff. Board Members have legal duties to ensure prudent use of all assets, ensure all activities advance our mission, recognize and disclose conflicts of interest, and ensure obedience of relevant laws and regulations.</p>

			<h5>Duties &amp; Responsibilities:</h5>

				<ul>
					<li>Attend bi-monthly (six per year) hour-long board meetings via teleconference</li>
					<li>Complete reading list, review materials, and engage in discussion during board meetings</li>
					<li>Leverage personal and professional networks to support Girl Develop It in reaching strategic goals</li>
					<li>Refer, nominate, interview, and/or evaluate potential board members, advisory committee members, vendors, and/or key staff</li>
					<li>Provide timely input on strategic decisions facing the organization and respond to any reported incidents within 72 hours</li>
					<li>Participate in at least one board committee, fulfill aforementioned board responsibilities, conduct research or diligence, or provide ad-hoc feedback as requested by the staff</li>
				</ul>

			<h5>Requirements &amp; Terms</h5>
				<ul>
					<li>Commitment to and passion for our mission to empower women and non-binary adults with technical learning opportunities</li>   
					<li>Two-year term commitment</li>
				</ul>

			<h5>Perspectives We’re Currently Seeking in Directors and Advisors</h5>
				<ul>
					<li>Academic</li>
					<li>Grants</li>
					<li>Human Resources</li>
					<li>Legal</li>
					<li>Marketing / Communications</li>
					<li>Executive Leadership</li>
					<li>Workforce development / Economic empowerment</li>
				</ul>

			<p>We would love to have representation from diverse communities on our Board of Directors. Individuals of underrepresented racial and ethnic backgrounds, folks across the gender spectrum, and folks located outside of traditional technology hubs are highly encouraged to apply.</p>
		        <p>Please contact Governance Committee Chair Kaya Thomas (kaya@girldevelopit.com) for more information and to discuss the role.</p>

		</section>
	</div>
</section>
