<% provide(:title, "Job Opportunities") %>
<section class="main-container">
	<div class="container">
		<section class="code jobs">
			<div class="underlined-headline">
				<h2>Join our team!</h2>
				<hr>
			</div>
			<h3 class='large'>Executive Director</h3>
			<h4 style='text-transform: none;' class="large">Location: Remote</h4><br>

			<h5>About Girl Develop It</h5>
			<p>Founded in 2010, Girl Develop It (GDI) is a nonprofit organization that creates welcoming, supportive opportunities for women and non-binary adults to learn software development skills. Through classes, projects, and events, GDI students develop code, confidence, and community. We envision a world where all people are included and empowered in developing the future of technology.</p>

			<h5>About this Role</h5>
			<p>Girl Develop It needs a transformative Executive Director to lead the organization into its next phase of growth and impact. The ideal candidate needs to understand the challenges and opportunities that adults face when learning about software and technology. The ideal candidate takes a data-driven approach to develop strategic plans while measuring the impact of plans implemented. In addition, the candidate is a capable leader who can align the board, HQ team, and community on GDI’s mission, vision, and impact.</p>

			<p>This position will report directly to the Board of Directors and work very closely with the leadership team, including the Operations Director and Programs Director. This is a full-time, remote role.</p><br>

			<h4>Duties &amp; Responsibilities:</h4><br>

				<ul>
					<li>Develop a new strategic plan to deliver on GDI’s mission and vision</li>
					<li>Establish a set of management practices that support program and chapter growth, HQ staff, and the broader community   </li>
					<li>Establish a platform for fundraising and pioneer new mission-aligned programs and partnerships </li>
					<li>Lead, coach, develop and retain GDI HQ’s senior management team.</li>
					<li>Begin to build partnerships in new markets, establishing relationships with funders,     community leaders, and key influencers in cities identified for expansion or revitalization.</li>
					<li>Be an external local and national presence as the spokesperson for GDI programs and impact on the organization’s constituents, the media, and the general public.</li>
					<li> Standardize and revitalize the technology education curriculum and educational philosophy.</li>
					<li>Oversee marketing and other communications efforts and develop a brand that closely aligns GDI’s public presence with its mission, vision, and impact. </li>
				</ul>

			<h4>Qualifications</h4><br>
				<ul>
				<li>Strong leadership skills</li>   
				<li>Ability to fundraise and develop strategic partnerships</li>
<li>Ability to develop and engage a high-performing Board of Directors</li>
<li>Entrepreneurial instincts that enable the organization to identify and pursue new mission-aligned opportunities</li>
<li>Knowledge of software and technology markets </li>        
<li>An understanding of the basics and challenges of adult learning</li>
<li>Ability to create strategic plans, decisively execute towards desired outcomes and use data as a tool to communicate and measure progress</li>
<li> Excellence in organizational management with the ability to coach staff, manage and develop high-performance teams, set and achieve strategic objectives, and manage a budget. </li>   
<li>Demonstrated commitment to diversity, inclusion, and equity</li>
<li>Previous success in establishing relationships with individuals and organizations of influence, including funders, partner agencies, and volunteers.</li>
<li>Solid organizational abilities, including planning, delegating, program development, and task facilitation.</li>

				</ul>

			<h5>Desired Attributes</h5><br>
			
				<ul>
					<li>A transformative and inspiring leader</li>
					<li>Ability to drive consensus among stakeholders</li>
					<li>Strong written communication skills</li>
					<li>Background in corporate social responsibility, economic empowerment, workforce development, or adult technology education </li>
					
				</ul>

			<h4>Education</h4><br>
				<ul>
					<li>Bachelors Degree</li>
					<li>ICoding/Programming knowledge</li>
					
				</ul>

			<h4>Work Experience</h4><br>
				<ul>
					<li>8-15 years of work experience</li>
					<li>5 years of Management experience</li>
					
				</ul>

			<p>To apply or learn more here: https://www.linkedin.com/jobs/view/1496965546/</p>
		</section>
	</div>
</section>
