  <div class="errors">
    <h1><span>404</span> <%= image_tag("flourish-med.png" , class: "hide") %> <span>Page Not Found</span></h1>
    <h2>Oops! We can't find that page. <%= link_to "Head back home.", root_path %></h2>
  </div>