.mission{
  @include span-columns(10);
  @include shift(1);
  text-align: center;
  margin-bottom: 50px;
  @media screen and (max-width: 500px){
    @include span-columns(12);
    @include shift(0);
  }
  p{
    color: $black;
  }
}

.vision{
  @include span-columns(5);
  @include shift(1);
  text-align: right;
  @media screen and (max-width: 500px){
    @include span-columns(12);
    text-align: left;
    margin: 0 0 40px 0;
  }
  .subtitle{
    padding: 0 .2rem .5rem .2rem;
  }

}

.values{
  @include span-columns(5);
  @include omega();
  @media screen and (max-width: 500px){
    @include span-columns(12)
  }
  .subtitle{
    padding: 0 .2rem .5rem .2rem;
  }
}

.support,.story{
  @include background-image( radial-gradient(#fff, #e4e9e5));
  text-align: center;
  height: 100%;
  padding: 60px 0;
  p{
    @include span-columns(10);
    @include shift(1);
    color: $black;
    @media screen and (max-width: 500px){
      @include span-columns(12);
      @include shift(0);
    }
  }
}

.story{
  margin:60px 0;
}
@mixin profile{
  @include span-columns(6);
  margin-bottom: 80px;
  @media screen and (max-width: 500px){
    @include span-columns(12);
  }
  img{
    @include span-columns(3 of 6);
    @include shift (1.5);
    box-shadow: .025rem .025rem .5rem #bdbec0;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  h3{
    @include span-columns(6 of 6);
    text-align: center;
    @extend %dashed-border;
  }
  p{
    @include span-columns(6 of 6);
    margin-top: 5px;
  }
}

.profile-left{
  @include profile;
  @include span-columns(6);
  padding-right: 12px;
}

.profile-right{
  @include profile;
  @include span-columns(6);
  @include omega();
  padding-left: 12px;
  @media screen and (max-width: 500px){
    padding: 0;
  }
}

.code{
  padding-bottom: 80px;
  p{
    margin-top: 10px;
    color: $black;
  }
}
.board, .contact {
  float: left;
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-bottom: 3rem;
  text-align: center;
}