.about-opener {
  // background: url('about-bg.jpg') no-repeat center center fixed;
  background: asset-url('about-bg.jpg');
  background-color: $paleblue;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  // background-size: Auto 500px;
  // background-size: 100% auto;
  -webkit-background-size: cover;
  background-size: cover;
  // width: 100%;
  height: 500px;
  position: relative;
  z-index:1000;
  @media screen and (max-width: 500px) {
    height: 200px;
    width: 100%;
    background-position: 50% 39%;
    background-size: 141% auto;
    background-color: #F8F8F6;
  }
  h1 {
    color: $white;
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: 200px;
    height: auto;
    text-align: center;
    width: 100%;
  }
  .overlay {
    background: $navy;
    opacity: .6;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
  }
  .container {
    position: relative;
    z-index:1001;
  }
}

.mission{
  @include span-columns(10);
  @include shift(1);
  text-align: center;
  margin-bottom: 50px;
  @media screen and (max-width: 500px){
    @include span-columns(12);
    @include shift(0);
  }
  p{
    color: $black;
  }
}

.vision{
  @include span-columns(5);
  @include shift(1);
  text-align: right;
  @media screen and (max-width: 500px){
    @include span-columns(12);
    text-align: left;
    margin: 0 0 40px 0;
  }
  .subtitle{
    padding: 0 .2rem .5rem .2rem;
  }

}

.values{
  @include span-columns(5);
  @include omega();
  @media screen and (max-width: 500px){
    @include span-columns(12)
  }
  .subtitle{
    padding: 0 .2rem .5rem .2rem;
  }
}

.support{
  @include background-image( radial-gradient(#fff, #e4e9e5));
  text-align: center;
  height: 100%;
  margin: 60px 0;
  padding: 60px 0;
  p{
    @include span-columns(10);
    @include shift(1);
    color: $black;
    @media screen and (max-width: 500px){
      @include span-columns(12);
      @include shift(0);
    }
  }
}

@mixin profile{
  @include span-columns(6);
  margin-bottom: 80px;
  @media screen and (max-width: 500px){
    @include span-columns(12);
  }
  img{
    @include span-columns(3 of 6);
    @include shift (1.5);
    box-shadow: .025rem .025rem .5rem #bdbec0;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  h3{
    @include span-columns(6 of 6);
    text-align: center;
    @extend %dashed-border;
  }
  p{
    @include span-columns(6 of 6);
    margin-top: 5px;
  }
}

.profile-left{
  @include profile;
  @include span-columns(6);
  padding-right: 12px;
}

.profile-right{
  @include profile;
  @include span-columns(6);
  @include omega();
  padding-left: 12px;
  @media screen and (max-width: 500px){
    padding: 0;
  }
}

.code{
  @include background-image( radial-gradient(#fff, #e4e9e5) );
  padding: 60px 0;
  p{
    margin-top: 10px;
    color: $black;
  }
}
