h3.nocaps {
  text-transform: capitalize;
}

.mission {
  @include span-columns(10);
  @include shift(1);
  text-align: center;
  margin-bottom: 50px;
  @media screen and (max-width: 500px){
    @include span-columns(12);
    @include shift(0);
  }
  p{
    color: $black;
  }
}

.vision {
  @include span-columns(5);
  @include shift(1);
  text-align: center;
  width: 80%;
  margin: 0px 10%;
  margin-bottom: 50px;
  @media screen and (max-width: 500px){
    @include span-columns(12);
    text-align: center;
    margin: 0 0 40px 0;
  }
  .subtitle{
    padding: 0 .2rem .5rem .2rem;
  }

}

.values {
  @include span-columns(5);
  @include omega();
  text-align: center;
  width: 80%;
  margin: 0px 10%;
  @media screen and (max-width: 500px){
    @include span-columns(12);
    margin: 0px;
    text-align: center;
  }
  .subtitle{
    padding: 0 .2rem .5rem .2rem;
  }
}

.support,
.story {
  @include background-image( radial-gradient(#fff, #e4e9e5));
  text-align: center;
  height: 100%;
  padding: 60px 0;
  p{
    @include span-columns(10);
    @include shift(1);
    color: $black;
    @media screen and (max-width: 500px){
      @include span-columns(12);
      @include shift(0);
    }
  }
}

.story {
  margin:60px 0;
}

.chapter-leader-img {
  margin: 0 auto 80px;
  text-align: center;

  img {
    width: 100%;
  }

  @media screen and (max-width: 860px) {
    display: block;
    width: 100%;
    max-width: 500px;
  }
}

.profile {
  display: inline-block;
  width: 48%;
  margin-bottom: 80px;
  vertical-align: top;

  &.profile-left { margin-right: 1.75%; }
  &.profile-right { margin-left: 1.75%; }
  &.profile-center { margin-left: 25%; margin-right: 25%; }

  @media screen and (max-width: 860px) {
    display: block;
    width: 100%;
    max-width: 500px;

    &.profile-left,
    &.profile-right,
    &.profile-center {
      margin: 0 auto 80px;
    }
  }

  img {
    display: block;
    width: 50%;
    max-width: 250px;
    height: auto;
    margin: 0 auto 20px;
    box-shadow: .025rem .025rem .5rem #bdbec0;
    border-radius: 5px;
  }

  h3 {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    @extend %dashed-border;
  }

  p {
    padding: 10px 0px;
  }
}

.code {
  padding-bottom: 80px;
  p{
    margin-top: 10px;
    color: $black;
  }
}

.faq{
  h3 [aria-expanded] {
    text-transform:none;
  }
}

.board, .contact, .faqs {
  float: left;
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-bottom: 3rem;
  text-align: center;
}
