//The stylesheets for this project are structured using SMACSS (Scalable and Modular Architecture for CSS)
//https://smacss.com

//Gotham font 
@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("fonts/Gotham/gotham-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham-Book"), url("fonts/gotham/Gotham-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Italic";
  src: local("Gotham-Italic"), url("fonts/gotham/Gotham-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"), url("fonts/gotham/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: "Gotham-Round";
  src: local("Gotham-Round"), url("fonts/gotham/gothamrnd-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

//BASE: styles for basic page components
// Custom Styles
$mainfont: "Lato";
$headfont: "Gotham-Book";
$basefontsize: 1rem;

//Colors
$pink: rgb(240,91,98);
$black: rgb(40,40,40);
$blush: rgb(249,159,163);
$gold: rgb(237,171,35);
$green: rgb(146,187,68);
$gray: rgb(51,51,51);
$paleblue: rgb(228,233,229);
$navy: rgb(42,71,88);
$blue: rgb(0,169,180);
$white: rgb(250,250,250);

$mobile: new-breakpoint(max-width 420px 4);

* {
  @include box-sizing(border-box);
}

body {
  font-family: $mainfont, Helvetica, Arial, sans-serif;
  font-size: 100%; //16px
}

hr {
  border: 0;
  border-top: 2px solid $pink;
  border-bottom: 2px solid $pink;
  background: transparent;
  height: 6px;
}
