.chapter-aside {
 text-align: center;
  @media screen and (min-width: 500px) {
    @include span-columns(4);
  }
  .state-container-aside{
    padding-bottom: 14px;
    img{
     width: 100%;
     padding: 0em 2em;
    }
  }
  .sponsors {
    .logos {margin-top: 1.5em;}
    img {
      width: 50%;
      margin-bottom: 1.5em;
      opacity: 0.35;
      -webkit-filter: grayscale(75%);
      &:hover{
        opacity: 1;
        -webkit-filter: grayscale(0%);
      }      
    }
    .subtitle {
      margin-bottom: 1.5em;
      opacity: 0.35;
      -webkit-filter: grayscale(75%);
      &:hover{
        opacity: 1;
        -webkit-filter: grayscale(0%);
      }      
    }
  }
  hr{
    width: 60%;
    margin-bottom: 3px;
    margin-top: -5px;
  }
  h1{
    margin-top: 15px;
  }
  h2{
    @extend %dashed-border;
    width: 115px;
    margin-top: 3em;
  }
  .subtitle {
    display: block;
  }
}

#content-section{
 @media screen and (min-width: 500px) {
   @include span-columns(8);
 }
 margin-bottom: 80px;
}

#headline{
  @include span-columns(8 of 8);
  @include omega();
}
@media screen and (max-width: 500px) {
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}
.classes{
  @include span-columns(8 of 8);
  @include omega();
  margin-bottom: 20px;
  .read-more{
    color: $linkcolor;
    font-style: italic;
    &:hover{
      color: $pink;
    }
  }
  .subtitle {
    a {
      color: $pink;
    }
  }
  .meetup-map{
    @include span-columns(8 of 8);
    align: center;
    padding: 0px 15px 0 0px;
    img{
      width: 100%;
      margin-top: 5px;
      box-shadow: .025rem .025rem .5rem #bdbec0;
      margin-bottom: 5px;
      }
    }
  .button{
    margin: 10px 0 55px 0;
    background-color: $paleblue;
    color: $pink;
    &:hover{
      background-color: $pink;
      color: white;
    }
  }
  .uhOh {
    text-align: center;
  }
}

.single-profile{
  @include span-columns(8 of 8);
  @include omega();
  margin-bottom: 2.5em;
  .profile-img{
    @include span-columns(3 of 8);
    padding: 0px 15px 0 0px;
    img{
      width: 100%;
      margin-top: 25px;
      box-shadow: .025rem .025rem .5rem #bdbec0;
      border-radius: 5px;
      margin-bottom: 20px;
    }
  }
  .profile-content{
    @include span-columns(5 of 8);
    @include omega();
    h3{
      @extend %dashed-border;
    }
    ul{
      margin-top: -10px;
    }
    p{
      padding: 10px 0px;
    }
  }
}


//Chapter Index
.state-index{
  padding-top: 50px;
}
.state-container{
  @include span-columns(4);
  @include omega(3n);
  text-align: center;
  margin-bottom: 3em;
  h2{
    margin: 10px 0 0 0;
  }
  hr{
    width: 55%;
  }
  img{
    width: 100%;
    padding: 0em 4em;
  }
  h3{
    text-transform: none;
    letter-spacing: .05rem;
    font-weight: 300;
    a{
      color: $gray;
      &:hover{
        color: $pink;
      }
    }
  }
}
