.chapter-aside {
 text-align: center;
  @media screen and (min-width: 500px) {
    @include span-columns(4);
  }
  .state-container-aside{
    // width: 200px;
    margin: auto;
    padding-bottom: 14px;
    img{
     width: 100%;
     padding: 0em 2em;
    }
  }
  hr{
    width: 70%;
    margin-bottom: 3px;
  }
  h1{
    margin-top: 1em;
  }
  h2{
    @extend %dashed-border;
  }
}

#content-section{
 @media screen and (min-width: 500px) {
   @include span-columns(8);
 }
}

#headline{
  @include span-columns(8 of 8);
  @include omega();
  text-align: center;
  img{
    height: 40px;
    display: block;
    margin: auto;
  }
  h2 {
    color: $gold;
    padding-bottom: .4rem;
    border-bottom: solid $black 1px;
    display: inline-block;
    margin: .5rem auto 3rem auto;
  }
}

.classes{
  @include span-columns(8 of 8);
  @include omega();
  margin-bottom: 20px;
  .read-more{
    color: $gold;
    font-style: italic;
  }
  .read-more:hover{
    color: $pink;
  }
  .rsvp{
    float: right;
    color: $gold;
    padding: .5rem;
    background-color: #f1f2f2;
  }
}
.single-profile{
  @include span-columns(8 of 8);
  @include omega();
  .profile-img{
    @include span-columns(3 of 8);
    img{
      width: 100%;
    }
  }
  .profile-content{
    @include span-columns(5 of 8);
    @include omega();
    margin-bottom: 2em;
    h2{
      @extend %dashed-border;
    }
    ul{
      margin-top: -10px;
    }
  }
}

.state-container{
  @include span-columns(4);
  @include omega(3n);
  text-align: center;
  margin-bottom: 3em;
  hr{
    width: 70%;
  }
  img{
    width: 100%;
    padding: 0em 2em;
  }
  h2 a{
    color: $pink;
    &:hover{
      color: $gold;
      font-style: italic;
    }
  }
}
