.mission {
	img {
		width: 40%;
		margin: 20px;
	}
	h3 {
	    margin-bottom: 10px;    
	    color: $pink; 
	    font-weight: 700;
	    font-size: 1.25rem;
	    text-transform: none;
	    letter-spacing: .05rem;       
	}
}

.infographic {
	padding-top: 40px;
	width: 100%;
	background-color: $palegold;
	margin-bottom: 0;
}