.opener{
  text-align: center;
  // background: url('photo.png') no-repeat center center fixed;
  background: url('photo.png');
  background-color: $paleblue;
  // background-repeat: no-repeat;
  // background-size: Auto 500px;
  // background-size: 100% auto;
  -webkit-background-size: cover;
  background-size: cover;
  // width: 100%;
  height: 400px;
  h1{
    color: $navy;
    font-size: 3.5rem;
    font-weight: 700;
    padding-top: 85px;
    img{
      height: 80px;
      margin-bottom: -8px;
    }
  }
}

.mission-statement{
  @include span-columns(10);
  @include shift(1);
  text-align: center;
  position: relative;
  padding: 0px 0px 50px 0px;
  h2{//unsure about this design.
    background-color: $gold;
    padding: .5rem;
    width: 250px;
    color: white;
    position: relative;
    top: -18px;
  }
  p{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: .9rem;
    line-height: 1.5rem;
  }
}

.map{
  background-color: $paleblue;
  height: 45em;
  text-align: center;
  h2{
    font-size: 1.5rem;
    color: $pink;
    padding-top: 50px;
  }
  img{
    width:100%;
  }
}

.stats-section{
  //@include span-columns(12);
  text-align: center;
  .stats{
    text-align: center;
    img{
      width: 100%;
      @include span-columns(4 of 12);
      @include omega(3n);
      padding: 0px 50px;
      margin-top: 60px;
      margin-bottom: 25px;
    }
    p{
      @include span-columns(4 of 12);
      @include omega(3n);
      padding: 0px 30px;;
      margin-bottom: 60px;
    }
  }
}

.press-logos{
  height: 220px;
  background-color: $black;
  text-align: center;
  padding: 40px 0px;
  img{
    height: 80px;
  }
  h2{
    color: $gold;
    margin-bottom: 15px;
  }
}
