.opener{
  text-align: center;
  // background: url('photo.png') no-repeat center center fixed;
  background: url('photo.png');
  background-color: $paleblue;
  // background-repeat: no-repeat;
  // background-size: Auto 500px;
  // background-size: 100% auto;
  -webkit-background-size: cover;
  background-size: cover;
  // width: 100%;
  height: 500px;
  h1{
    color: $navy;
    font-size: 3.5rem;
    font-weight: 400;
    padding-top: 150px;
    height: auto;
    width: 100%;
  }
    img{
      height: 80px;
      margin-bottom: -8px;
    }
  }
  .fadeInLeft {
     -vendor-animation-delay: 2s;
  }

.mission-statement{
  @include span-columns(10);
  @include shift(1);
  text-align: center;
  position: relative;
  padding: 0px 0px 50px 0px;
  h2{
    background-color: $gold;
    padding: .5rem;
    width: 250px;
    color: white;
    position: relative;
    top: -18px;
  }
  p{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: .9rem;
    line-height: 1.5rem;
  }
  .subtitle{
    font-size: .8rem;
  }
}

.map{
  background-color: $paleblue;
  //@include background-image( radial-gradient(#fff, #e4e9e5) );
  height: 100%;
  text-align: center;
  hr{
    width: 400px;
    border-top: 2px solid $gold;
    border-bottom: 2px solid $gold;
  }
  h2{
    font-size: 1.5rem;
    color: $black;
    padding-top: 50px;
    font-weight: 300;
    letter-spacing: .1rem;
  }
  img{
    width:100%;
    padding-bottom: 35px;
  }
}

.stats-section{
  text-align: center;
  // h2{
  //   background-color: #fff;
  //   color: $gold;
  //   position: relative;
  //   bottom: -25px;
  // }
  // hr{
  //   width: 50%;
  //   border-top: 2px solid $gold;
  //   border-bottom: 2px solid $gold;
  // }
  .stats{
    text-align: center;
    img{
      width: 100%;
      @include span-columns(4 of 12);
      @include omega(3n);
      padding: 0px 50px;
      margin-top: 60px;
      margin-bottom: 25px;
    }
    p{
      @include span-columns(4 of 12);
      @include omega(3n);
      padding: 0px 30px;;
      margin-bottom: 60px;
    }
  }
}

.press-logos{
  height: 180px;
  background-color: $black;
  text-align: center;
  padding: 30px 0px;
  img{
    height: 80px;
  }
  h2{
    color: $gold;
    margin-bottom: 12px;
  }
}
