.opener {
  text-align: center;
  // background: url('photo3.png') no-repeat center center fixed;
  background: asset-url('photo3.png');
  background-color: $paleblue;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: top center;
  // background-size: Auto 500px;
  // background-size: 100% auto;
  // -webkit-background-size: cover;
  // background-size: cover;
  // width: 100%;
  height: 400px;
  @media screen and (max-width: 500px) {
    height: 200px;
    width: 100%;
    background-position: 50% 39%;
    background-size: 141% auto;
    background-color: #F8F8F6;
  }
  h1 {
    color: $navy;
    font-size: 3.5rem;
    font-weight: 400;
    padding-top: 100px;
    height: auto;
    width: 100%;
    @media screen and (max-width: 500px) {
      font-size: 2.5rem;
      padding-top: 50px;
    }
  }
    img {
      height: 80px;
      margin-bottom: -8px;
    }
  }

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    -ms-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    -ms-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -ms-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}


.mission-statement {
  @include span-columns(10);
  @include shift(1);
  text-align: center;
  position: relative;
  padding: 0px 0px 50px 0px;
  h2{
    margin-top: 60px;
  }
  hr{
    width: 250px;
  }
  p{
    margin-top: 30px;
    margin-bottom: 15px;
  }
  a.subtitle{
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.map {
  background-color: $paleblue;
  height: 100%;
  text-align: center;
  padding-bottom: 30px;
  h2{
    padding-top: 60px;
  }
}

.stats-section {
  text-align: center;
  .stats {
    text-align: center;
    @include span-columns(4);
    @include omega(3n);
    img {
      width: 100%;
      padding: 0px 50px;
      margin-top: 60px;
      margin-bottom: 25px;
    }
    p {
      padding: 0px 30px;
      margin-bottom: 60px;
    }
  }
}

.press-logos {
  height: 180px;
  background-color: $black;
  text-align: center;
  padding: 30px 0px;
  img{
    height: 60px;
  }
  h3{
    color: $gold;
    margin-bottom: 20px;
  }
}
