//LAYOUT: styles for positioning the major page elements

.container {
  @include outer-container;
  width: 965px;
  max-width: 100%;
  margin: auto;
  @media screen and (max-width: 964px) {
    padding: 0 25px;
  }
}

.main-container {
  padding-top: 50px;
  @media screen and (mmax-width: 500px) {
    padding: 0px 25px;
  }
}

header {
  background-color: $pink;
  @media screen and (min-width: 500px) {
    height: 100px;
  }
  .logo {
    display: block;
    width: 129px;
    margin: 0 auto;
    padding-top: 20px;
    @media screen and (min-width: 500px) {
      float: left;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  nav{
    margin: 20px 0 20px 0;
    @media screen and (min-width: 500px) {
      float: right;
      margin: 0;
    }
    ul {
      text-align: center;
      @media screen and (min-width: 500px) {
        float: left;
      }
    }
    li {
      display: inline-block;
    }
    i{
      font-size: 1.1rem;
    }
    a {
      display: block;
      color: white;
      font-style: italic;
      font-weight: 300;
      font-size: 1.1rem;
      letter-spacing: .05rem;
      padding: .5rem;
      margin-bottom: 0em;
      @media screen and (min-width: 500px) {
        padding: 3rem 1rem 3rem 1rem;
      }
      &:hover {
        @media screen and (min-width: 500px) {
          background-color: $black;
          color: $blush;
          box-shadow: .025rem .025rem .5rem $black;
        }
      }
      &.active-nav{
        background-color: $black;
        color: $blush;
        box-shadow: .025rem .025rem .5rem $black;
      }

    }
  }
}

footer {
  text-align: center;
  min-height: 190px;
  background-color: $navy;
  padding: 20px 0;
  p.subtitle{
    @media screen and (max-width: 500px) {
      font-size: .75em;
    }
    a {
      color: $white;
    }
  }
  .navigation {
    margin-top: 25px;
    a {
      color: $white;
      font-style: italic;
      font-weight: 300;
      font-size: .9rem;
      letter-spacing: .05rem;
      padding: 0 1rem;
      margin-bottom: 0em;
      text-decoration: underline;
      &:hover {
        color: $gold;
      }
      i {
        font-size: 1.1rem;
        color: $gold;
        &:hover{
          color: #fff;
        }
      }
    }
  }
  .subtitle {
    color: $paleblue;
    font-weight: 300;
    margin-bottom: -1px;
  }
  #mce-EMAIL{
    margin:.5rem 0;
    padding:8px;
  }
  #mc-embedded-subscribe{
    margin-top:.35em;
    cursor:pointer;
  }
}

a#skipnav {
    padding: 6px;
    position: absolute;
    top: -40px;
    left: 0px;
    color: #da141e;
    background: transparent;
    @include transition(top 1s ease-out, background 1s linear);
    z-index: 100;
    &:focus {
      position: absolute;
      left: 0px;
      top: 0px;
      background: white;
      outline: 0;  
      @include transition(top .1s ease-in, background .5s linear);
    }
}

#main-content {
    outline: 0;
}

#headline{
  text-align: center;
  img{
    height: 35px;
    display: block;
    margin: auto;
  }
  h2 {
    @extend %dashed-border;
    font-weight: 300;
    color: $gold;
    padding: 0px 5px 6px 5px;
    // border-bottom: solid $black 1px;
    display: inline-block;
    margin: .5rem auto 3rem auto;
  }
}

.underlined-headline {
  text-align: center;
  hr {
    width: 400px;
    border-top: 2px solid $gold;
    border-bottom: 2px solid $gold;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 1.5rem;
    color: $black;
    font-weight: 300;
    letter-spacing: .1rem;
  }
  .subtitle {
    margin-top: -20px;
    a {
      color: $pink;
      &:hover {
        color: $black;
      }
    }
  }
}

.fork-me {
  @media screen and (max-width: 1250px) {
    display: none;
  }
}
