#content-section{
 @media screen and (min-width: 500px) {
   @include span-columns(8);
 }
 margin-bottom: 80px;
}

#headline{
  @include span-columns(8 of 8);
  @include omega();
}
@media screen and (max-width: 500px) {
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}
.materials{
  @include span-columns(8 of 8);
  @include omega();
  margin-bottom: 20px;
  .read-more{
    color: $gold;
    font-style: italic;
    &:hover{
      color: $pink;
    }
  }
  .button{
    margin: 10px 0 55px 0;
    background-color: $paleblue;
    color: $pink;
    &:hover{
      background-color: $pink;
      color: white;
    }
  }
  .uhOh {
    text-align: center;
  }
}

//Materials Index
.material-index{
  padding-top: 50px;
}
.material-container{
  @include span-columns(6);
  @include omega(2n);
  background-color:$paleblue;
  padding:10px;
  margin-bottom: 2em;
  -moz-transition: background, .5s;
  -webkit-transition: background, .5s;
  transition: background, .5s;
  &:hover {
    background-color: $blush;
  }
  h2{
    margin: 10px 0 0 0;
  }
  hr{
    width: 55%;
  }
  img{
    float:left;
  }
  h3{
    text-transform: none;
    letter-spacing: .08rem;
    font-weight: 300;
    a{
      color: $gray;
      &:hover{
        color: $pink;
      }
    }
  }

}
.material-icon{
  float:left;
  width: auto;
  margin-right: 1em;
}

.class-slides, .practice-files{
  h3{
    line-height:3rem;
    margin-top: .5em;
  }
  a {
    color: $gray;
    &:hover {
      color:$pink;
    }
  }
  li {
    padding: .5em 0 ;
  }
}
.github-fork{
  background-color: $pink;
  padding: .5em;
  margin: 2em 0;
  color: $white;
  a{
    color: $white;
  }
  img{
    vertical-align:middle;
  }
}
