//MODULES: styles for reusable page components

//Map
.mapTooltip {
	background-color: #f95a61;
  position: fixed;
  font-family: $mainfont;
  padding: 6px;
  font-size: .85em;
  color: #fff;
  letter-spacing: .06rem;
  font-weight: 300;
}

.media-links {
  padding: 0px;
  margin: 1em -.45em 1.5em -.45em;
  li{
    display: inline;
  }
  a{
    display: inline-block;
    font-size: .8em;
    height: 25px;
    width: 25px;
    color: $black;
    border-radius: 50%;
    margin: 2px;
    padding-top: 6px;
    text-align: center;
    &:hover {
      background: $gold;
      color: #fff;
    }
  }
  &.media-links-rounded{
    a{
      color: white;
      background-color: $gold;
      &:hover{
        background-color: $black;
        color: $blush;
      }
    }
  }
}

.accordion {
   margin: 50px; 
   margin-top: 0;
   text-align: center; 
   .hidden {
        height: 20px;
      }
   section {
      height: 85px;
      overflow: hidden;
      transition: height 1s ease-in-out;
      @extend %dashed-border;
      }
      h2 {
        cursor: pointer;
      }
   } 
   ul, li {
      padding: 10px;
      //border-bottom: 4px double $pink; 
      &:last-of-type {
        //border-bottom: 2px double $pink; 
      }
      
   }
  li {
     border-top: 0;
     padding: 0 0 0 10px; 
     //background-color: $paleblue;
     font-size: 1rem;
     &:last-of-type {
       border-top: 1px solid white;
       position: relative;
       top: -1px;
     }
  
  }


