//MODULES: styles for reusable page components


.mapTooltip {
	background-color: #f95a61;
  position: fixed;
  font-family: $mainfont;
  padding: 6px;
  font-size: .85em;
  color: #fff;
  letter-spacing: .06rem;
  font-weight: 300;
}

.media-links {
  padding: 0px;
  margin: 1em -.45em 1.5em -.45em;
  li{
    display: inline;
  }
  a{
    display: inline-block;
    font-size: .8em;
    height: 25px;
    width: 25px;
    color: $pink;
    border-radius: 50%;
    margin: 2px;
    padding-top: 6px;
    text-align: center;
    &:hover {
      background: $gold;
      color: #fff;
    }
  }
  &.media-links-rounded{
    a{
      font-size: .8em;
      color: white;
      background-color: $gold;
      &:hover{
        background-color: $black;
        color: $blush;
      }
    }
  }
}


.accordion {
  margin: 0 0 60px 0px;
  .hidden {
    height: 38px;
  }
  section {
    overflow: hidden;
    transition: height .5s ease-in-out;
    @extend %dashed-border;
  }
  h2 {
    cursor: pointer;
    color: $black;
    padding: 15px 0 7px 0;
  }
  a{
    text-transform: none;
    letter-spacing: .05rem;
    font-weight: 300;
    color: $pink;
    font-style: italic;
  }
}
