//The stylesheets for this project are structured using SMACSS (Scalable and Modular Architecture for CSS)
//https://smacss.com

//MODULES: styles for reusable page components

//Map
.map {

}

.mapTooltip {
	background-color: #f95a61;
  position: fixed;
  font-family: $mainfont;
  padding: 6px;
  font-size: .85em;
  color: #fff;
  letter-spacing: .06rem;
  font-weight: 300;
}

.media-links {
  padding: 0px;
  margin: 1em -.45em 1.5em -.45em;
  li{
    display: inline;
  }
  a{
    display: inline-block;
    font-size: .8em;
    height: 25px;
    width: 25px;
    color: $black;
    border-radius: 50%;
    margin: 2px;
    padding-top: 6px;
    text-align: center;
    &:hover {
      background: $gold;
      color: #fff;
    }
  }
  &.media-links-rounded{
    a{
      color: white;
      background-color: $gold;
      &:hover{
        background-color: $black;
        color: $blush;
      }
    }
  }
}

header {
  height: 100px;
  background-color: $pink;
  img{
    height: 60px;
    margin-top: 15px;
    float: left;
  }
  nav a{
    color: white;
    font-style: italic;
    font-weight: 300;
    font-size: .9rem;
    letter-spacing: .05rem;
    float: right;
    padding: 3rem 1rem 3rem 1rem;
    margin-bottom: 0em;
  }
  nav a:first-child{
    margin-right: -1rem
  }
  nav a:hover{
    background-color: $black;
    color: $blush;
    box-shadow: .025rem .025rem .5rem $black;
  }
}

footer {
  text-align: center;
  height: 190px;
  background-color: $navy;
  padding: 20px 0px 0px 0px;
  .navigation {
    margin-top: 25px;
    a{
      color: white;
      font-style: italic;
      font-weight: 300;
      font-size: .9rem;
      letter-spacing: .05rem;
      padding: 0 1rem;
      margin-bottom: 0em;
      &:hover{
        color: $gold;
      }
      i{
        color: $gold;
        &:hover{
          color: #fff;
        }
      }
    }
  }
  .subtitle{
    color: $paleblue;
    font-weight: 300;
    margin-bottom: -1px;
  }
}
