.sponsors{
  margin-bottom: 50px;
  .large {
    text-align: center;
    margin-bottom: 20px;
  }
  p{
    color: $black;
  }
}

.partners {
  @extend .sponsors;
}

.logo-placeholder {
  position: relative;
  padding: 3em 1em;
  border-radius: 5px;
  border: 1px dashed #F95A61;
  color: #BBCDC2;
  text-transform: uppercase;
  text-align: center;
}