.sponsors{
  .large {
    text-align: center;
    margin-bottom: 20px;
  }
  p{
    color: $black;
  }
}

.sponsor-logos {
  text-align: center;
  //margin: 0 -30px 50px;
  img {
    margin: 1em;
    max-width: 100%;
  }
}

.partners {
  @extend .sponsors;
}

.partner-logos {
  @extend .sponsor-logos;
}