//layout media queries
.show {
	display: none;
}

@media screen and (max-width: 500px) {
	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	.opener {
		height: 200px;
		width: 100%;
		h1 {
			font-size: 2.3rem;
			padding-top: 75px;
		}
	}
	.mission-statement {
		margin-left: 25px;
		text-align: left;
		p {
			font-size: .9rem;
		}
	}
	.stats {
		float: none;
		img, p {
			@include span-columns (3);
		}
	}
	.stats-section {
		float: none;
	}
	footer {
		height: 200px;
		position: relative;
		top: 0px;
		font-size: 1rem;
	}

	.underlined-headline {
		hr {
		width: 80%;
		}
		.subtitle {
			margin: 0 20px;
		}
		h2 {
			font-size: 1.2em;
		}
	}

	.chapter-aside{
		.state-container-aside{
			margin-top: -20px;
		}
		.button{
			margin-bottom: 50px;
		}
	}

	.single-profile {
		margin-bottom: 0em;
		.profile-img {
			@include span-columns(6);
			@include shift(3);
			padding: 5px;
			img{
				margin: 20px 0;
			}
		}
		.profile-content {
			@include span-columns(12);
			h3{
				text-align: center;
			}
		}
	}
}
