//layout media queries
.show {
	display: none;
}
.show-inline {
	display: none;
}
.hide-chapters {
	display: none;
}

@media screen and (max-width: 500px) {
	.show {
		display: block;
	}
	.show-inline {
		display: inline;
	}
	.hide {
		display: none;
	}
	.mission-statement {
		@include span-columns(12);
		@include shift(0);
		text-align: left;
		p {
			font-size: .9rem;
		}
	}
	.map{
		h2{
			padding-top: 30px;
		}
	}

	.stats-section{
		margin: 20px 0;
		.stats{
		@include span-columns(12);
			img{
				margin-top: 20px;
			}
			p{
				margin-bottom: 20px;
			}
  	}
	}

	.press-logos {
		height: 160px;
		img {
			height: 45px;
		}
	}

	.underlined-headline {
		hr {
		width: 90%;
		margin-bottom: 15px;
		}
		h2 {
			font-size: 1.2em;
		}
	}

	.chapter-aside{
		.state-container-aside{
			margin-top: -20px;
		}
		.sponsors {
			margin-top: -20px;
			img {
				width: 30%;
			}
		}
	}

	.single-profile {
		margin-bottom: 0em;
		.profile-img {
			@include span-columns(6);
			@include shift(3);
			padding: 5px;
			img{
				margin: 20px 0;
			}
		}
		.profile-content {
			@include span-columns(12);
			h3{
				text-align: center;
			}
		}
	}
}
