.supporters{
  .large {
    text-align: center;
    margin-bottom: 20px;
  }
  p{
    color: $black;
    font-style: italic;
  }
}

.supporter-logos {
  text-align: center;
  //margin: 0 -30px 50px;
  img {
    margin: 1em;
    max-width: 100%;
  }
}

.partners {
  @extend .supporters;
}

.partner-logos {
  @extend .supporter-logos;
}
