h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
}

h1 {
  // font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: .14rem;
}

h2{
  font-size: 1rem;
  letter-spacing: .14rem;
  margin: auto;
  padding: .5rem;
  line-height: 1.3rem;
  a {
    color: $black;
  }
}

h3{
  font-size: .95rem;
  letter-spacing: .1rem;
  margin: auto;
  padding: .1rem;
  line-height: 1.3rem;
  a {
    color: $black;
  }
}

%dashed-border {
  border-bottom: 1px dashed $pink;
  padding-bottom: .2rem;
}

p{
  font-size: 1.025rem;
  font-weight: 300;
  letter-spacing: .05rem;
  color: $gray;
  line-weight: .3rem;
  line-height: 1.5rem;
  a{
    font-style: italic;
    color: $gold;
    &:hover{
      color: $pink;
    }
  }
}

a {
  text-decoration: none;
}

.large{
  font-size: 1.035rem;
  line-height: 1.65rem;
}

.subtitle {
 font-weight: 400;
 color: $pink;
 font-style: italic;
 font-weight: 400;
 font-size: .85rem;
 text-transform: none;
 letter-spacing: .06rem;
 margin: .35rem 0rem;
}

.button {
 display: inline-block;
 font-weight: 400;
 color: white;
 font-size: .8rem;
 text-transform: uppercase;
 letter-spacing: .14rem;
 background-color: $gold;
 padding: .5rem;
 &:hover{
  background-color: $black;
  color: $blush;
  }
 &.donate-button {
    border: 0;
    background: $pink;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
  }
}
