<% provide(:title, "Materials") %>
  <section class="main-container">
  <div class="container">

    <div class="underlined-headline">
      <h2>Materials</h2>
      <hr>
      <p class="large">Girl Develop It materials are built by our community, which is made up of industry-leading technologists, instructors, and leaders.</p>
      <p class="large">All curriculum developed by GDI can be licensed under fair use Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0). You are free tos hare and adapt these materials.</p>
    </div>

    <section class="state-index hide">
      <% @materials.each do |s| %>
        <div class="state-container">
        <h2><%= link_to s.title, course_url(slug: s.slug) %></h2>
        <p><%= s.short_description %></p>
        </div>
    <% end %>
    </section>

    <section id="state-list">
      <div class="accordion show">
        <% @materials.each do |s| %>
          <section class="hidden">
             <h2><%= link_to s.title, course_url(slug: s.slug) %></h2>
          </section>
        <% end %>
      </div>
    </section>
  </div>
  </section>
