<p class="meetup-map hide">
  <%% if( typeof venue !== "undefined" && venue.lat !== 0) { %>
    <img src= "http://maps.google.com/maps/api/staticmap?size=800x450&sensor=false&zoom=16&markers=<%%= venue.lat %>%2C<%%= venue.lon %>" alt="location map">
  <%% } %>
</p>
