
  <section class="main-container">
  <div class="container">
    <!-- <h1>This is the Chapter Index</h1> -->

    <section class="state-index">
      <% @states.each do |s| %>
        <div class="state-container">
          <div class="state"><%= image_tag(image_route(s)) %></div>
          <hr>
          <h1><%= s[0] %></h1>
          <% s[1].each do |l| %>
            <h2><%= link_to l %></h2>
          <% end %>
        </div>
    <% end %>
    </section>
  </div>
  </section>
